<html>
    <body>
    <div>
        <form method="post">
            <input type="text" name="task" placeholder="Task">
            <input type="text" name="status" placeholder="Status">
            <button type="submit">Add Task</button>
            <button type="reset">Reset</button>
        </form>
    </div>
    <div>Iotim TaskList</div>
    {{#tasks}}
        <div>
            <b>{{id}}</b>
            <span>{{task}}</span>
            <i>{{status}}</i>
        </div>
    {{/tasks}}
    </body>
</html>